In [26]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

In [28]:
from pandas.io.json import json_normalize

In [29]:
pip install xlrd

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

Let's create my personal preference table

In [30]:
userInput = [
            {'Cluster Labels':0, 'Rating':5},
            {'Cluster Labels':1, 'Rating':5},
            {'Cluster Labels':5, 'Rating':7},
            {'Cluster Labels':7, 'Rating':2},
         ] 
inputCluster = pd.DataFrame(userInput)
inputCluster

   Cluster Labels  Rating
0               0       5
1               1       5
2               5       7
3               7       2

Based on the results of Part I, we introduce the clusters table with the different restaurant types

In [31]:
df=pd.read_excel('Clusters.xlsx')
df=df.head(8)
df

,Cluster Labels,Chinese Restaurant,French Restaurant,Asian Restaurant,Japanese Restaurant,Indian Restaurant,Korean Restaurant,Vegetarian / Vegan Restaurant,Food Court,Fast Food Restaurant,...,Pizza Place,Food,Steakhouse,Indonesian Restaurant,Hotpot Restaurant,Hainan Restaurant,Middle Eastern Restaurant,Cantonese Restaurant,Australian Restaurant,Malay Restaurant
0,0.0,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,1,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2.0,0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5.0,1,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6,6.0,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
7,7.0,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
#Let's chjeck the cluster label type to enable the merge.
df['Cluster Labels'].dtype

dtype('float64')

In [33]:
#Resetting the index to avoid future issues
df = df.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
userGenreTable2= df.drop('Cluster Labels', 1).head(4)
userGenreTable2

,Chinese Restaurant,French Restaurant,Asian Restaurant,Japanese Restaurant,Indian Restaurant,Korean Restaurant,Vegetarian / Vegan Restaurant,Food Court,Fast Food Restaurant,BBQ Joint,...,Pizza Place,Food,Steakhouse,Indonesian Restaurant,Hotpot Restaurant,Hainan Restaurant,Middle Eastern Restaurant,Cantonese Restaurant,Australian Restaurant,Malay Restaurant
0,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
inputCluster['Rating']

0    5
1    5
2    7
3    2
Name: Rating, dtype: int64

In [35]:
#Dot produt to get weights
userProfile = userGenreTable2.transpose().dot(inputCluster['Rating'])
#The user profile
userProfile

Chinese Restaurant               10
French Restaurant                 0
Asian Restaurant                 10
Japanese Restaurant              17
Indian Restaurant                10
Korean Restaurant                12
Vegetarian / Vegan Restaurant    10
Food Court                       12
Fast Food Restaurant             10
BBQ Joint                         0
Thai Restaurant                   5
Italian Restaurant               17
Restaurant                       12
Seafood Restaurant                5
American Restaurant               5
Halal Restaurant                  5
Sushi Restaurant                  5
Noodle House                      5
Vietnamese Restaurant             0
Pizza Place                       0
Food                              0
Steakhouse                        5
Indonesian Restaurant            10
Hotpot Restaurant                 0
Hainan Restaurant                 0
Middle Eastern Restaurant         0
Cantonese Restaurant              0
Australian Restaurant             0
Malay Restaurant                 10
dtype: object

In [44]:
#Now let's get the genres of every restaurant in our original dataframe
genreTable = df.set_index(df['Cluster Labels'])
genreTable = genreTable.drop('Cluster Labels', 1)
#And drop the unnecessary information
genreTable

,Chinese Restaurant,French Restaurant,Asian Restaurant,Japanese Restaurant,Indian Restaurant,Korean Restaurant,Vegetarian / Vegan Restaurant,Food Court,Fast Food Restaurant,BBQ Joint,...,Pizza Place,Food,Steakhouse,Indonesian Restaurant,Hotpot Restaurant,Hainan Restaurant,Middle Eastern Restaurant,Cantonese Restaurant,Australian Restaurant,Malay Restaurant
Cluster Labels,,,,,,,,,,,,,,,,,,,,,
0.0,1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1.0,1,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2.0,0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4.0,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5.0,1,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6.0,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
7.0,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df

Cluster Labels
0.0    1.000000
1.0    0.594286
2.0    0.400000
3.0    0.000000
4.0    0.308571
5.0    0.800000
6.0    0.942857
7.0    0.308571
dtype: float64

In [46]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
#Just a peek at the values
recommendationTable_df

Cluster Labels
0.0    1.000000
6.0    0.942857
5.0    0.800000
1.0    0.594286
2.0    0.400000
7.0    0.308571
4.0    0.308571
3.0    0.000000
dtype: float64

We have the list of clusters, sorted by my hypothetical preferences, according to the recommender algorithm